*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
p{
    padding:20px;
    font-size: 14px;
    font-family: Verdana,sans-serif;
}
.container {
    height: 100%;
}

.logo {
    height: 100px;
    background-color: darkviolet;
}

.menu {
    height: 20px;
    background-color: navy;
}
