@import url("common.css");

.container{
    height: calc(100% - 100px); /* растягивание за счет высоты контейнера и отрицательный маргин у футера*/
    width: 100%;
    display: table;
    margin-bottom: 100px;
    background-color: gold;
}

.content{
    width: 100%;
}

.footer{
    height: 100px;
    outline: 1px solid red;
    margin-top:-100px;
}