@import url("common.css");

.container{
    height: 100%;
    display: table;
    width: 100%;
}

.content{
    min-height: calc(100vh - 220px);
    background-color: gold;
}

.footer{
    height: 100px;
    outline: 1px solid red;
    clear: left;
}

.content div{
    outline: 1px solid #000080;
    width: 50%;
    min-width: 100px;
    height: 100%;
    float: left;
    background-color: gold;
}