@import url("common.css");

.container{
    width: 100%;
}
.logo{
    height: 7%;
    width: 100%;
}

.menu{
    height: 3%;
    width: 100%;
}

.content{
    min-height: 80%;
    width: 100%;
    background-color: gold;
}

.footer{
    height: 10%;
    width: 100%;
    outline: 1px solid red;
}