@import url("common.css");

.container{
    height: 100%;
    display: table;
    width: 100%;
}

.content{
    display: table;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 220px);
    height: 1px;
    background-color: gold;
    margin: 0;
    padding: 0;
}
.footer{
    height: 100px;
    outline: 1px solid red;
}
.content > div{
    outline: 1px solid #000080;
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}
