@import url("common.css");

.container {
    min-height:100%;
    height: auto;
}

.content {
    min-height: 100%;
    background-color: gold;
}

.gapper {
    height: 100px;
    clear: both;
    background-color: gold;
}

.footer {
    outline: 1px solid red;
    height: 100px;
    margin-top: -100px;
    background-color: white;
}