@import url("common.css");

.container {
    min-height:100%;
    position: relative;
    height: auto;
    background: gold;
}

.content {
    padding-bottom: 100px;
    background-color: gold;
}

.footer {
    outline: 1px solid red;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: white;
}