@import url("common.css");

.content {
    min-height: calc(100% - 220px);/*основное растягивание - без него футер подпрыгивает*/
    background-color: gold;
    clear: both;
}

.footer {
    height: 100px;
    outline: 1px solid red;
}