@import url("common.css");

.container{

}

.content{
    min-height: calc(100vh - 220px); /*using only min-height value*/
    background-color: gold;
}
.footer{
    height: 100px;
    outline: 1px solid red;
}