@import url("common.css");

.content {
    background-color: gold;
    min-height: calc(100% - 220px); /*основное растягивание - без него футер подпрыгивает*/
    margin-bottom: 100px;
}
.footer {
    height: 100px;
    outline: 1px solid red;
    margin-top:-100px;
}