@import url("common.css");

.container {
    min-height:100%;
    height: auto;
    background-color: gold;
}

.content {
    min-height: 100%;
    /*без контента на 100% высоты*/
}

.content:after {
    content: '';
    height: 100px;
    display: block;
    background-color: gold;
}

.footer {
    outline: 1px solid red;
    height: 100px;
    margin-top: -100px;
    background-color: white;
}